.twn {
  color: white;
  font-size: 30px;
  padding-left: 25px;
}
.tbn {
  color: black;
  font-size: 26px;
  padding-left: 25px;
}
.no {
  height: 400px;
  width: 400px;
}
.nocon1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.nocon11 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.nco {
  display: flex;
  flex-direction: row;
}
.nn{
  display: flex;
  flex-direction: column;
}